# Clerk
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=

# Vercel
VERCEL_AUTH_TOKEN=
BLOB_STORE_NAME=
BLOB_READ_WRITE_TOKEN=

# Turso
TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=
